ul{
    margin:0;
    padding:0;
    list-style:none;
    /* height:600px;  */
   }
   .paperLiseBox{
       float: right;
       margin-top: 19px;
   }
   li{
    margin:0;
    padding:0;
    width:700px;/*項目寬度  */
    height:100px;
    display:block;
    float:top;
    margin-bottom:5px;
    background:#f5f5f5;
   
   }
   #img_bag{
    width:110px;
    height:00px;
    background:#F2F2F2;
    
   
   }
   #img_bag #img{
    width:700px;/* 項目遮蓋後，顯示的範圍 */
    height:300px;
    background:#e4e4e4;
    overflow:hidden;
   }
   .bagBtn{
       width: 50px;
       height: 50px;
       background-color: #DCDCE2;
       border-radius: 50%;
       text-align: center;
       margin: 10px;
       margin-left:330px;

       
   }
   .paperLise:hover .rightPaperA{
    background-color: rgb(163, 169, 175);
    color: white;
    transition: 0.5s;
   }
 
   .rightPaperA:hover{
    background-color: rgb(163, 169, 175);
    color: white;
    transition: 0.5s;
   }

.rightPaperA{
    width: 50px;
    height: 50px;
    background-color: white;
    float: right;
    border-radius: 10px;
    color: #595757;
    font-size: 14px;
    line-height: 20px;
    letter-spacing:5px;
    border: #bebdbd 1px solid;
    box-shadow: 1px 1px 3px #5957572d;
    margin-right: 30px;
    margin-top: 25px;
    
}
.rightPaperA p{
    
    margin: 5px;
}
.leftStudent{
    float: left;
    color: black;

}
.studentName h4{
    display: inline-block;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
}
.bagBtn img{
    margin-top: 15px;
}
.bagBtn:hover{
 background-color: #656C74;
 transition: 0.5s;
}
.paperLise{
   
}
.paperCenter{
    margin-left: calc(50% - 350px);
    height: 300px;
}
