.section_members .title h1{
    text-align: center;
}
.section_members .container{
    background-color: #e6ebf1;
   
}
/* #e6ebf1; */
.swiper-container2 {
    width: 100%;
    height: 500px; 
  }
  .swiper-slide2 {
   margin-right: 20px;
    font-size: 16px;
    background: rgb(216, 213, 213);
   
   
  }
/* rgb(202, 201, 201); */
.section_members {
      
    position: relative;
    
}
.section_members .container{
    overflow: hidden;
    height: 910px;
    width: 100%;
}
.maskwhite{
    height: 100%;
    width: 100%;
    background-color: #d3d6da;
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}
.maskwhite .teacher{
    color: rgba(0, 0, 0, 0.432);
}
.memberNews{
    display: none;
}

.maskwhite:hover{
    height: 100%;
    width: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
    transition: 1s;
    box-shadow: 1px 1px 5px rgb(117, 117, 117) ;
}
.maskwhite:hover .teacher{
    color: black;
    transition: 1s;
}
.maskwhite:hover .teaPhoto{
    opacity: 1;
    transition: 0.8s;
}
.maskwhite:hover .teaBTN{
    background-color: rgba(101, 108, 116, 0.76);
    color: white;
    box-shadow: 1px 1px 5px rgb(148, 148, 148);
}
.swiper-slide .a{
    display: block;
    width: 100px;
    height: 100px;
    
}
.teacher{
    color: black;
    padding: 30px;
   
}
.teaPhoto{
    margin-top: -5px;
    margin-left: 20%;
    margin-bottom: 20px;
     opacity: 0.3; 
    
}
/*
.teaPhoto{
    margin-top: -80px;
    margin-left: 20%;
    margin-bottom: 20px;
     opacity: 0.5; 
    
} 
 */

.swiper-pagination2{
    margin-left: 50%;
    margin-top: 100px;
}
.teaName{
    float: left;
    font-weight: 700;
    font-size: 18px;
    margin-bottom:20px;
    
}
.teaPosition{
    float: right;
    font-weight: 700;
    font-size: 15px;
}
.blackLong{
    width: 100%;
    height: 20px;
    border-top: rgb(124, 124, 124) 1px solid;
}
.teaEducation{
    
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;

}


.teaBTN{
    font-size: 15px;
    height: 30px;
    width: 70px;
    border: rgba(0, 0, 0, 0.247) 1px solid;
    background-color: rgba(255, 255, 255, 0.336);
    padding: 3px;
    text-align: center;
    margin-left: 38%;
    border-radius: 5px;
    
}



