.FadeInAni{
    height: 75%;
    position: relative;
    top:50%;
    transform:translateY(-50%);
}
.PersonalBox{
    width: 100%;
    height: calc( 100% - 145px);
    background-color: white;
     padding: 0% 10%; 

    
    display: flex;
    flex-direction: column;
     justify-content: center; 
    align-items: center; 
    
    /* position: relative;
    top:50%;
    transform:translateY(-50%); */
}
.PersonalBox3{
    width: 100%;
    height: calc( 100% - 145px);
    background-color: white;
     padding: 0% 10%; 

    
    display: flex;
    flex-direction: row;
     justify-content: center; 
    align-items: center; 
    
    /* position: relative;
    top:50%;
    transform:translateY(-50%); */
}
.portfolioBox{
    width: 70%;
    /* height: calc( 100% - 150px ); */
    background-color: #AFCAF6;
     padding: 0% 10%; 
    margin: 0 auto;
    
     display: flex;
    flex-direction: row;
       /* justify-content: center;
    align-items: center;     */
}
.PersonalBox .Personal {
    position: relative;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    

    
}
.nameLine{
    height: 1.5px;
    width: 260px;
    background-color: rgb(33, 38, 46);
}
.nameLine2{
    height: 1.5px;
    width: 220px;
    background-color: rgb(33, 38, 46);
}
.nameLine3{
    height: 1.5px;
    width: 200px;
    background-color: rgb(33, 38, 46);
}
.POSTname .nameLine{
    height: 1.5px;
    width: 260px;
    background-color: rgb(33, 38, 46);
}
.PersonalBox .Personal .photo{
    width: 240px;
    height: 320px;
    
    background-color: #B8D0F7;
   
    
    /* float: left; */
}
.PersonalBox .Personal .photo img{
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37);
}
.colorbox{
    position: absolute;
    top: -25px;
    left: -25px;
    width: 250px;
    height: 325px;
    border: #B8D0F7 2px solid;
   
}

.PersonalBox .Personal .name{
    position: absolute;
    top: 20px;
    left: 214px;
    font-size: 40px;
    font-family: "微軟正黑體";
    font-family: 'Noto Serif TC', serif;
    
    color: rgb(31, 43, 46);
    font-size: bold;
    
    letter-spacing: 5px;
}
.PersonalBox .Personal .cardname{
    /* position: absolute;
    top: 0px;
    left: 0px;  */
    margin-bottom: 220px;
    font-size: 40px;
    font-family: "微軟正黑體";
    font-family: 'Noto Serif TC', serif;
    
    color: rgb(31, 43, 46);
    font-size: bold;
    
    letter-spacing: 5px;
}
.PersonalBox .Personal .POSTname{
    position: absolute;
    top: 20px;
    left: 290px;
    font-size: 40px;
    font-family: "微軟正黑體";
    font-family: 'Noto Serif TC', serif;
    
    color: rgb(31, 43, 46);
    font-size: bold;
    
    letter-spacing: 5px;
}
.PersonalBox .Personal .aboutMeWord{
     position: absolute;
    left: 500px; 
    width: 500px;
   
    font-family: "wd01";
    
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 40px;
    bottom: 0;
}
.PersonalBox .Personal .aboutMeWord .btnCenter{
    display: flex;
    flex-direction:column;
    align-items:flex-end;
    margin-bottom: -20px;

}
.Personal a{
    text-decoration: none;
}

.PersonalBox .Personal .aboutMeWord .knowMoreMe{
  
    width: 180px;
    height: 60px;
    font-size: 15px;
    color: rgb(41, 41, 41);
    font-family: "微軟正黑體";
    background-color: #E9E9EB;
    border: solid 1.5px rgb(255, 255, 255);
    border-left: solid 2px #CECDD2;
    padding: 14px 10px;
    border-radius: 2px;
}
.hvr-sweep-to-right:hover {
    color: rgb(255, 255, 255);
}
.PersonalBox .skills .skillTitle{
    font-size: 25px;
    font-family: "wd01";
    /* line-height: 20px; */
    margin-top: 5%;
    /* margin-left: 7%; */
}
.PersonalBox .skills {
    
    /* margin-left: 10%; */
    display: flex;
    flex-direction: column;
    width: 1000px;
    
    /* text-align: center; */
}

.PersonalBox .skills .Setsoftware{
    /* float: left; */
    width: 250px;
    
}
.PersonalBox .skills .Setsoftware .SkillScore{
    margin-top: 4%;
}
.PersonalBox .skills  .upSkill{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3%;
}
.PersonalBox .skills .Setsoftware .softwareImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(100, 99, 99);
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    letter-spacing: 2px;
    font-family: "微軟正黑體";
    margin-bottom: 10%;
     /* margin-left: calc( 45% );  */
}
.PersonalBox .skills .Setsoftware  .UNityLogo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(100, 99, 99);
    color: white;
    margin: 0 auto;
    /* padding-top: 10px;
    margin-bottom: 10%; */
    padding-top: 12px;
    padding-right: 3px;
}

.PersonalBox .skills .Setsoftware .software{
    width: 26%;
    float: left;
    text-align: center;
    
}

.PersonalBox .skills .Setsoftware  .softwareName{
    text-align: center;
}
.SkillScore img{
    width: 15px;
}