.DesignWorkTitle{
    font-family: "wd01";
}

.webDate{
    text-align: center;
    line-height: 22px;
    
    border: 2px solid rgb(70, 68, 68);

    width: 65px;
    height: 80px;
    border: solid 3px rgb(87, 86, 86);
    color: rgb(65, 64, 64);
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-family: "wd01";
    font-family: 'Bitter', serif;
   
}
.card01 img{
    float: left;
}
.psbox .psName{
    font-size: 25px;
    font-family: "wd01";
}
.psbox .psdate{
    font-size: 16px;
    font-family: "wd01";
    margin-top: 0px;
    letter-spacing: 5px;
}
.psbox2 .psName{
    font-size: 16px;
    font-family: "wd01";
}
.psbox2 .psdate{
    font-size: 14px;
    font-family: "wd01";
    margin-top: 5px;
    letter-spacing: 5px;
}
.psHover:hover .psbox{
    opacity: 1;
    transition: 1s;
}
.psHover2:hover .psbox2{
    opacity: 1;
    transition: 1s;
}
.shutterOut{
    width: 100%;
    height: 100%;;
}
.psbg{
     width: 495px; 
    background-image: url("../image/work/PS1.jpg");
    height:350px;
    background-repeat: no-repeat;
    background-size: 100%;

}
.web_Section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.psbox{
    transition: 1s;
    opacity: 0;
   padding-top: 60px;
    position: absolute;
    top: 75px;
    left: 150px;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    border: #ffffff 2px solid;
}
.psbox2{
    transition: 1s;
    opacity: 0;
   padding-top: 20px;
    position: absolute;
    top: 38px;
    left: 60px;
    width: 140px;
    height: 100px;
    color: white;
    text-align: center;
    border: #ffffff 1.5px solid;
}
.ps02{
    position: relative;
    width: 261px;
    height: 175px;
    background-image: url("../image/work/PS2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}
.card-text{
    font-size: 20px;
    font-family: "wd01";
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
    
}
.card-body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
margin-top: 20px;
}
.shortLine{
    
    margin: 0 auto;
    height: 2.4px;
    width: 50px;
    background-color: rgb(251, 251, 253);
}
.card{
    width:200px;
    margin-right: 60PX;
    margin-top: 20px;
    color: #ffffff;
    /* padding-LEFT: 60px; */
    background-color: rgba(255, 253, 253, 0);
    border: 1px solid rgba(245, 245, 220, 0);
    /* box-shadow: 2px 2px 3px rgba(97, 96, 96, 0.438);  */
}
.WebMoreBtn{
    
    margin: 0 auto;
    width: 160px;
    height: 40px;
    padding: 5px;
    margin-top: 10px;
    color: #ffffff;
    border: 2px solid white;
}
.coloerboxWhite{
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    float: left;
}
.portfolioBox .webList {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.PersonalBox02{
    height: 100%;
    background-color: white;
    /* padding: 40px 80px;  */
    display: flex;
    justify-content: center;
    
}
.PortfolioContent {
    width: 100%;
    height: 100%;
}
.webWorks{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

/* HOVER效果 */
.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 36, 36, 0.76);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: rgb(255, 255, 255);
  }
  .hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

/* WEB HOVER */


/* 作品集-網頁-標題 */
.DesignBigTitle {
    /* position: absolute;
    top: 250px; */
    text-align: center;
    width: 300PX;
    height: 100px;
    color: #ffffff;
    border: solid 2px rgb(255, 255, 255);
    padding-right: 0%;
    padding: 8px;
    font-family: "wd01";
    
}
.DesignBigTitle2 {
    /* position: absolute;
    top: 250px; */
    text-align: center;
    width: 250PX;
    height: 100px;
    font-size: 24px;
    color: #030303;
    border: solid 2px rgb(48, 47, 47);
    padding-right: 0%;
    padding: 8px;
    font-family: "wd01";
    
}
.portofolioTitle .DesignBigTitle .ChineseTitle{
    font-size: 24px;
    font-family: "wd01";
   
}
.portofolioTitle .DesignBigTitle .EnglishTitle{
    font-size: 24px;
    font-family: "wd01";
    
}

/* 網頁作品排版 */
.webChoose{
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-right: 5%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.webChoose .webWork01{
  
    width: 300px;
    height: 400px;
    width: 250px;
    height: 350px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.829);
    position: relative;

}

/* 網頁作品HOVER效果 */
.webChoose .webWork01 .WebafterHover{
    width: 40px;
    height: 370px;
    background-color: rgba(255, 255, 255, 0.925);
}

.webChoose .webWork01 .WebafterHover .webWorkTitle{
    font-size: 18px;
    font-family: "wd01";
    line-height: 23px;
    width: 100%;
    text-align: center;
   
}

.webWork01 .WebBeforeHover {
    /* padding: 0px 30px; */
    width: 100%;
    
    text-align: center;
    font-size: 24px;
    font-family: "wd01";
    opacity: 100;
    /* background-color: black; */
}

.webWork01 .WebBeforeHover .WebTitle{
    margin-bottom:100px; 
    margin-top: 80px;
}

.webWork01 .WebBeforeHover .webMore .webMoreBtn{
    position: absolute;
    left: 0;
    /* left: -150px; */
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    background-color: rgba(41, 40, 40, 0.63);
}
.webMoreBtn :hover{
    position: absolute;
    left: 0px;
}
.Web01{
    background-image: url("../image/Web01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.Web02{
    background-image: url("../image/work/Web02.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.Web03{
    background-image: url("../image/work/Web03.jpg");
    background-repeat: none;
    background-size: 100%;
}



.webChoose  a{
    width: 100%;
    height: 320px;
    text-decoration: none;
    /* display: none; */
    color: rgba(240, 248, 255, 0);
    
}

.Word3d{
    float: left;
    margin-left: 30PX;
    font-family: "wd01";
    
}
.sketchfab-embed-wrapper{
    float: left;
}



/* 作品集-設計-影像合成-標題 */
.portofolioTitle{
    margin-top: 24PX;
}

.portofolioTitle .DesignLittleTitle .ChineseTitle{
    font-size: 24px;
    font-family: "wd01";
    
}
.portofolioTitle .DesignLittleTitle .EnglishTitle{
    
    font-size: 24px;
    font-family: "wd01";
    margin-top: -8px;
}
.DesignContect .portofolioTitle .DesignBigTitle{
    float: left;
}
.posterWork{
    width: 100%;
}
/* 作品集-設計-海報設計-作品+創作理念 */
.posterWork .posterImg{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
    /* width: 230px; */
    width: 35%;
     height: 300px; 
     height: 45vh; 
    
    
    float: left;
    background-color: rgba(0, 0, 0, 0.692);
    
}
.posterWork .posterMore{
    float: left;
    width: 460px;
    width: 520px;
    margin-left: 5%;
    ;
}
.posterWork .posterMore .posterTitle{
    font-size: 30px;
    font-family: "wd01";
    float: left;
}
.posterWork .posterMore .posterUse{
    font-size: 20px;
    font-family: "微軟正黑體";
}
.posterMore .posterUptitle{
    float: left;
    margin-left: 3%;
    margin-top: -2%;
}

.posterWork .posterMore .postDate{
   /* float: left;
   margin-top: 28px;
   margin-left: 18px; */
   width: 60px;
   height: 80px;
   border: solid 3px rgb(87, 86, 86);
   color: rgb(65, 64, 64);
   padding: 5px;
   text-align: center;
   font-size: 18px;
   font-family: "wd01";
   font-family: 'Bitter', serif;
   float: left;
  
}


.posterWork .posterMore .postWord{
    margin-top: 6%;
    font-size: 20px;
    
    line-height: 36px;
    font-family: "微軟正黑體";

}