.blackBox{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -999;
    opacity: 0;
    transition: 1s;
    
}
.blackBox .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
h4{
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-weight: 500;
}
p{
    margin: 0;
    color: white;
    line-height: 25px;
    font-weight: 100;
   
}

.blackBoxShow{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover{
    opacity: 0;
   transition: 0.5s;
  
}

.blackBoxP12{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP12 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow2{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover2{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP13{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP13 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow13{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover13{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP21{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP21 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow21{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover21{
    opacity: 0;
   transition: 0.5s;
  
}

/*  */
.blackBoxP22{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP22 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow22{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover22{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP23{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP23 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow23{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover23{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP31{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP31 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow31{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover31{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP32{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP32 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow32{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover32{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP33{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP33 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow33{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover33{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP41{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP41 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow41{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover41{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP42{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP42 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow42{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover42{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP43{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP43 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow43{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover43{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP51{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP51 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow51{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover51{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP52{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP52 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow52{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover52{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP53{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP53 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow53{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover53{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP61{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP61 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow61{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover61{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP62{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP62 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow62{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover62{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP63{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP63 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow63{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover63{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP71{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP71 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow71{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover71{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP72{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP72 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow72{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover72{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP73{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP73 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow73{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover73{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP81{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP81 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow81{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover81{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP82{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP82 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow82{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover82{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxP83{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxP83 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShow83{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCover83{
    opacity: 0;
   transition: 0.5s;
  
}

/* 吃 */
.blackBoxE11{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE11 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE11{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE11{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE12{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE12 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE12{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE12{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE13{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE13 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE13{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE13{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE21{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE21 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE21{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE21{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE22{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE22 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE22{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE22{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE23{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE23 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE23{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE23{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE31{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE31 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE31{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE31{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE32{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE32 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE32{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE32{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE33{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE33 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE33{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE33{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE41{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE41 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE41{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE41{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE42{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE42 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE42{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE42{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE43{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE43 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE43{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE43{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE51{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE51 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE51{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE51{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE52{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE52 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE52{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE52{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE53{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE53 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE53{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE53{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE61{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE61 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE61{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE61{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE62{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE62 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE62{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE62{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE63{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE63 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE63{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE63{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE71{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE71 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE71{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE71{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE72{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE72 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE72{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE72{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE73{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE73 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE73{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE73{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE81{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE81 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE81{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE81{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE82{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE82 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE82{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE82{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxE83{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxE83 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowE83{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverE83{
    opacity: 0;
   transition: 0.5s;
  
}
/* 住 */
.blackBoxL11{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL11 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL11{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL11{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL12{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL12 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL12{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL12{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL13{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL13 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL13{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL13{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL21{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL21 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL21{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL21{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL22{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL22 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL22{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL22{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL23{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL23 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL23{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL23{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL31{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL31 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL31{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL31{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL32{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL32 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL32{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL32{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL33{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL33 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL33{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL33{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL41{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL41 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL41{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL41{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL42{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL42 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL42{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL42{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL43{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL43 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL43{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL43{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL51{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL51 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL51{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL51{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL52{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL52 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL52{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL52{
    opacity: 0;
   transition: 0.5s;
  
}
/*  */
.blackBoxL53{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    z-index: -998;
    opacity: 0;
    transition: 1s;
    
}
.blackBoxL53 .little_image1{
    display: block;
    width: 300px;
    margin: calc(50% - 150px ); 
   margin-top: calc( 15% );
    
    
    font-family: "微軟正黑體";
    
}
.blackBoxShowL53{  
    opacity: 1;
    z-index: 999;
}

.blackBoxCoverL53{
    opacity: 0;
   transition: 0.5s;
  
}

