.Contects{
    max-width: 1920px;
}
 .ContentBox{
    /* width: 18.5%; */
    /* width: 100%; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contects .Contects_Left{
    /* float: left; */
    margin-right: 40px;
    display: inline-block;
    height:  470px;
    /* margin-left: 13%; */
    /* position: relative;
    top:50%;
    transform:translateY(-50%); */
    
}
.Contects .Contects_Right{
    /* float: right; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "wd01";
    line-height: 18px;
    height: 460px;
    /* position: relative;
    top:50%;
    transform:translateY(-50%); */  
}
.contactTelMail{
    /* height: 500px; */
}

.hoverLine01{
    width: 0px;
    height: 1px;
    transition: 0.5s;
    background-color: #0055ff;
}
.hoverLine02{
    width: 0px;
    height: 1px;
    transition: 0.5s;
    background-color: #0055ff;
}
.hoverLine03{
    width: 0px;
    height: 1px;
    transition: 0.5s;
    background-color: #0055ff;
}
.hoverLine04{
    width: 0px;
    height: 0.5px;
    height: 1px;
    transition: 0.5s;
    background-color: #0055ff;
}
/* 15%+3 */

.Contects .Contects_Right .MenuLogoTitle .LogoImg{
     text-align: center; 
    width: 80px; 
    margin-bottom: 10px;
}
.Contects .Contects_Right .LogoBetweenLink{
    margin-top: 100%;
}
.MenuLogoTitle{
    /* height: 500px; */
    text-align: center;
    font-size: 16px;
   
}
.Contects .Contects_Right .MenuLogo{
    /* background-image: url("/2019-03-10-Portfolio-AfterTheRain/image/logo2.png");
    background-repeat: no-repeat;
    background-size: 80px;
    height: 130px; */
    color: white;
}
.Contects .Contects_Right .MenuTel{
    
 font-family: "微軟正黑體";
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 25px;
}
.Contects .MenuTel{
    margin-top: 10px;
}
.Contects .Contects_Right .telIconImg{
    width: 30px;
    float: left;
    
}
.Contects .Contects_Right .num{
float: left;
margin-left: 10px;
}
.Contects .Contects_LeftLeft .MenuTitle{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin-bottom: 10%;
}
.Contects_Left .MenuTitle{
    
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin-right: 10%;

}
.Contects_Left .MenuPortfolio{
    display: flex;

    margin-left: 3px;
}
.RotateEng{
    transform: rotate(90deg);
}
.MenuPortfolio .yearsLine{
   
    width: 1px;
    height: 300px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #3032388a;
    position: relative;
}
.MenuPortfolio .yearsDot01{
    position: absolute;
    width: 30px;
    height: 0.5px;
    transform: rotate(-45deg);
    left: -14.5px;
    top: 60px;
    background-color: #0055ff;
}
.MenuPortfolio .yearsDot02{
    position: absolute;
    width: 30px;
    height: 0.5px;
    transform: rotate(-45deg);
    left: -14.5px;
    top: 140px;
    background-color: #0055ff;
}
.MenuPortfolio .yearsDot03{
    position: absolute;
    width: 30px;
    height: 0.5px;
    transform: rotate(-45deg);
    left: -14.5px;
    top: 220px;
    background-color: #0055ff;
}

.MenuPortfolio .MenuYears{
    /* float: left; */
    font-family: 'Caveat', cursive;
    font-size: 30px;
    width: 60px;
    
}
.MenuPortfolio .MenuList{
    width: 460px;
}
.MenuList .PortLink{
    margin-top: 50px;
    margin-left: 5%;
}
.MenuList .PortLink:nth-child(1){
    margin-top: 50px;
}
.MenuList .PortLink:nth-child(1) :hover + .hoverLine01{
    width: 412px;
    transition: 1s;
}
.MenuList .PortLink:nth-child(2) :hover + .hoverLine02{
    width: 252px;
    transition: 1s;
}
.MenuList .Link3D:hover + .hoverLine03{
    width: 185.5px;
    transition: 1s;
}
.MenuList .LinkGame:hover + .hoverLine04{
    width: 290px;
    transition: 1s;
}


.MenuList .PortLink a{
    
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "wd01";
}
